---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/archive/</loc>
  </url>
  {%- for p in collections.pages %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <lastmod>{{ p.date | isoDate }}</lastmod>
  </url>
  {%- endfor %}
  {%- for cat in collections.categories %}
  <url>
    <loc>{{ site.url }}/category/{{ cat.slug }}/</loc>
  </url>
  {%- endfor %}
  {%- for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
  {%- endfor %}
</urlset>